*, *::before, *::after {

    box-sizing: border-box;
  
  }
p {
    font: 13px;
        
}
.autorius {
    align-self: end;
}
.main {
    
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1200px;
    gap: 20px;
    background-color: hsl(0, 0%, 81%);
    padding: 20px;
}

.pavadinimai {
    text-align: left;
   display: grid;
    
}
.virsus {
    display:grid;
    grid-template-columns: 1fr 6fr;
    text-align: left;
}
.main .tekstai1 {
    background-color: hsl(263, 55%, 52%);
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 15px;
    padding: 15px;
   
  
  }
.main .tekstai2 {background-color: hsl(0, 0%, 100%) ;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 15px;
    padding: 15px;
}

.tekstai3 {
    background-color: hsl(217, 19%, 35%) ;
    border-radius: 15px;
    color: aliceblue;
    padding: 15px;
   
}
.tekstai4 {background-color: hsl(219, 29%, 14%) ;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 15px;
    color: aliceblue;
    padding: 15px;

}
.tekstai5 {
    background-color:hsl(0, 0%, 100%) ;
    border-radius: 15px;;
    padding: 15px;}

    img {
        border-radius: 50%;
        border: 2px solid;
      }


